* {
    font-family: "Jost", Helvetica, Arial, sans-serif;
    text-align: center;
    color: lightgray;
    background-color: black;
    }
body {
    margin: 0px;
    max-width: 900px;
    }
.button-container {
    display:flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    }
.button-container a {
    text-decoration: none;
    }
.header {
    margin-top: 20px;
    margin-bottom: 10px;
    }
.footer {
    margin-top: 0px;
    }
.multi {
    justify-content: space-around; 
    }
#button {
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    width: 400px;
    height: 72px;
    font-size: 36;
    }
.button {
    background-color: lightskyblue;
    color: navy;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    }
a & span.button { text-decoration: none;}    
.button:active {
        color: lightskyblue;
        background-color: navy;
        }
.pressable {
    box-shadow: 0px 6px whitesmoke;
    margin-bottom: 6px;
    }
.pressable:active {
    box-shadow: 0px 1px whitesmoke;
    position: relative;
    bottom: -5px;
    }
.center-button {
    font-weight: bold;
    padding: 10px;
    width: 380px;
    height: 52px;
    font-size: 36;
    }
.center-filler {
    padding: 10px;
    width: 380px;
    height: 52px;
}
.sub-button {
    width: 90%;
    height: auto;
    margin-bottom: 16px;
    font-size: 36;
    padding: 2px;
    border-radius: 10px;
    }
.mini-button {
    padding: 2px;
    width: 52px;
    height: 52px;
    font-size: 36;
    }
.left {
    padding-left: 20px;
    }
.right {
    padding-right: 20px;
    }
.die-array {
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    /* align-items: center; */
    align-items: stretch;
    max-width: 900px;
    text-align: center;
    }
.die-array-buttons {
    display:flex; 
    flex-direction: row; 
    justify-content: space-around; 
    /* align-items: center; */
    align-items: stretch;
    max-width: 900px;
    text-align: center;
    }
.new-button {
    width: 150px;
    }
.all-faces {
    align-items: stretch;
    }
.die-unit {
    margin: 10px;
    }
.die-frame {
    /* height: 403px; */
    height: auto;
    width: 180px;
    padding: 5px;
    margin: 5px auto;
    border: 3px solid gray;
    border-radius: 10px;  
    font-size:18px;
    }
.wide-die {
    width: 270px;
    height: auto;
    }
.die-title {
    font-size: 24;
    color: navy;
    background-color: transparent;
    }

h2 {
    font-weight: bold;
    color: wheat;
    }
h2.die-result-heading {
    font-size: 18;
    margin-top: 0ex;
    margin-bottom: 0ex;
    }
h2.die-result-subheading {
    font-size: 14;
    margin-top: 0ex;
    }
.die-result-desc {
    font-size: 12;
    color: lightgray;
    text-align: left;
    margin: 0px 3px 1.2ex;
    }
#info-page {
    margin: 20px
    }
#info-page h1 {
    text-align: center;
    color: lightskyblue;
    margin: .5ex;
    }
#info-page h2 {
    text-align: left;
    margin: .5ex;
    }
#info-page p {
    text-align: left;
    padding-left: 4%;
    padding-right: 4%;
    }
#info-page a:active {
    color: navy;
    background-color: skyblue;
    border: 1px 2px grey;
    }
#info-page img {
    max-width: 50%;
    }
hr {
    width: 780px;
    margin: 40px auto;
    border: 2px solid gray;
    border-radius: 10px;  
    }
.light {
    background-color: whitesmoke;
    color: navy;
    }

.dark {
    background-color: navy;
    color: whitesmoke;
    }
@media (hover: hover) {
    .button:hover {
        color: lightskyblue;
        background-color: navy;
        }
    .die-title:hover {
        color: lightskyblue;
        }
    .button.dark:hover {
        background-color: whitesmoke;
        color: navy;
        }
    .button.light:hover {
        color: whitesmoke;
        background-color: navy;
        }
    }